<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    
        <%- include('./flash') %>
            <br />
            <h1>Login</h1>
            <br />
            <form method="post" action="/user/login">
                <input name="username" type="text" placeholder="Enter Username" />
                <br />
                <input name="password" type="password" placeholder="Enter Password" />
                <br />
                <input type="submit" value="Submit Form" />
            </form>
            <br/>
            <a href="/user/">Home</a>
            <br/>
            <br/>
</body>

</html>