<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/auth/registration">Registration</a>
    <br/>
    <a href="/auth/login">Login</a>
  </body>
</html>