<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>members page</title>
</head>
<body>
    <h1> Hello <% user%> </h1>
    <br/>
    <p>Here you can join our club, but first enter the passphrase</p>
    <br/>
    <input type="text" placeholder="Make a guess!" name="passcode"/>
    <br/>
    <input type="submit" value="Submit Guess"/>
    <br/>
    <br/>
    <a href="/user/logout">Logout</a>
</body>
</html>