<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>members page</title>
</head>
<body>
    <%- include('./flash') %>
    <h1> Hello  </h1>
    <p>Here you can join our club, but first enter the passphrase</p>
    <br/>
    <form method="post" action="/user/member">
    <input type="text" placeholder="Make a guess!" name="passcode" id="passcode"/>
    <br/>
    <input type="submit" value="Submit Guess"/>
    </form>
    
    <br/>
    <br/>
    <a href="/user/logout">Logout</a>
    <br/>
    <br/>
    <a href="/user/">Home</a>
</body>
</html>