<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <%- include('./flash') %> 
    <h1>New Message</h1>
    <form method="post" action="/msg/write">
        <input type="text" name="title" placeholder="Title:" required/>
        <br/>
        <input type="text" name="content" placeholder="Message:" required/>
        <br/>
        <input type="submit" value="Send"/> 
    </form>
    <br/>
    <br/>
    <a href="/user/">Home</a>
</body>
</html>